@charset "UTF-8";
/* CSS Document */

/*base.cssへ移行する記述*/

.pankuzu{
	font-size: 11px;
	margin-bottom: 10px;
	}
.pt20{ padding-top: 20px;}
.pt30{ padding-top: 30px ;}

/*base.css移行ここまで*/

.kusuriyaMiddle{
	background: url(../images/kusuriya-middle.jpg) repeat-y 0 0;
	padding: 0 53px;
	}
.navikusuriya li{
	float: left;
	margin-left: 3px;
	}
.aboutSoup{
	padding: 30px;
	background: #e7f7fe;
	border: 1px solid #cae4ef;
	margin: 30px 0 30px 0;
	}
.aboutSoup:after{
	content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
	}
.aboutSoupLeft{
	float: left;
	width: 245px;
	}
.aboutSoupRight{
	float: right;
	width: 500px;
	}
.aboutMakeLeft{
	float: left;
	width: 480px;
	}
.aboutMakeRight{
	float: right;
	width: 360px;
	}
.oilarea:after{
	content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
	}
.oilLeft{
	float: left;
	width: 333px;
}
.oilRight{
	float: right;
	width: 480px;
}

.kusuriyaKodawariLeft{
	float: left;
	width: 450px;
	}
.kusuriyaKodawariRight{
	float: right;
	width: 375px;
	}

.kusuriyaTop{
	height: 123px;
}
.kusuriyaKokoro{
	padding: 20px;
	margin-top: 30px;
	background: #f9f8f0;
	border: 1px solid #c9c4b6;
	}
.kokoroarea{
	float: left;
	width: 172px;
	margin: 10px 14px 20px 14px;
	}
.makeLeft{
	float: left;
	width: 285px;
	}
.makeRight{
	float: right;
	width: 525px;
	}
.kusuriyaShopLeft{
	width: 410px;
	float: left;
	}
.kusuriyaShopRight{
	width: 410px;
	float: right;
	}
.collaboLeft{
	width: 280px;
	float: left;
	}
.collaboRight{
	width: 530px;
	float: right;
	}
.collaboSaleText{
	padding: 10px;
	background: #edf0cd;
	border: 1px solid #e4e7c2;
	color: #a62424;
	font-weight: bold;
	text-align: center;
	margin: 20px 0;
	}
.borderkusuriya{
	background: url(../images/border-kusuriya.jpg) no-repeat 0 0;
	height: 1px;
	margin: 20px 0;
	}
.kusuriyaVoice{
	padding: 20px;
	border: 3px solid #AF806E;
	margin: 30px 0;
	}